{% extends "jinja2/layout.html" %}
	{% block navlist %}
		<li class="is-active"> <a href="{% url 'index' %}">Blog</a> </li>
		<li> <a href="#">Archive</a> </li>
		<li> <a href="#">Admin</a> </li>
		<li> <a>About</a> </li>
	{% endblock %} 
	{% block content %}
		<div class="container">
        {% for post in posts %}
		    <div class="card is-fullwidth">
		    	<header class="card-header">
		    		<p class="card-header-title"> <a href="{% url 'index' %}">{{ post.title }}</a> </p>
		    	</header>
		    	<div class="card-content">
		    		<div class="content">
		    			<p>{{ post.description }}</p>
		    			<small> {{post.updated}} </small>
		    		</div>
		    	</div>
		    	<footer class="card-footer">
		    		<a class="card-footer-item"> {{ post.author.email }}</a>
					<a class="card-footer-item"> {{ post.category.name }}</a>
				</footer>
			</div>
        {% endfor %}
        </div>
    {% endblock %}
    </body>

</html>
