{% extends "blog/jinja2/layout.html" %}
	{% block navlist %}
		<li class="nav-item"> <a href="{% url 'blog:post_list' %}">Blog</a> </li>
		<li class="nav-item is-active"> <a href="{% url 'blog:archive' %}">Archive</a> </li>
		<li class="nav-item"> <a href="{% url 'blog:gallery' %}">Gallery</a> </li>
		<li class="nav-item"> <a href="/about/">About</a> </li>
	{% endblock %}
	{% load custom_markdown %}
	{% block content %}
	<div class="container">
		<div class="columns">
			<div class="column">
				<div class="content">
					<h1>Archive by Category</h1>
						{% for category in categories %}
						<a href="{{ category.get_absolute_url }}" class="archive_links">{{ category.name }}</a>
						{% endfor %}
					<h1>Archive by Tag</h1>
						{% for tag in tags %}
						<a href="{{ tag.get_absolute_url }}" class="archive_links">{{ tag.name }}</a>
						{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
