{% extends "blog/jinja2/layout.html" %}
	{% block navlist %}
		<li class="is-active"> <a href="{% url 'blog:post_list' %}">Blog</a> </li>
		<li> <a href="{% url 'blog:archive' %}">Archive</a> </li>
		<li> <a href="#">Admin</a> </li>
		<li> <a>About</a> </li>
	{% endblock %} 
	{% load custom_markdown %}
	{% block content %}
	{% if object_list %}
		<div class="container">
        {% for post in object_list %}
		    <div class="card is-fullwidth">
		    	<header class="card-header">
		    		<p class="card-header-title"> <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> </p>
		    	</header>
		    	<div class="card-content">
		    		<div class="content">
		    			<p>{{ post.description }}</p>
		    			<small> {{post.updated}} </small>
		    		</div>
		    	</div>
		    	<footer class="card-footer">
		    		<a class="card-footer-item"> {{ post.author.email }}</a>
					<a class="card-footer-item" href="{{ post.category.get_absolute_url }}"> {{ post.category.name }}</a>
					{% for tag in post.tags.all %}
					<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
					{% endfor %}
				</footer>
			</div>
        {% endfor %}
        </div>
		{% else %}
			<p>No posts yet!</p>
		{% endif %}		
    {% endblock %}
    </body>

</html>
