{% extends "blog/jinja2/layout.html" %}
	{% load custom_markdown %}
	{% block navlist %}
	<li class="nav-item is-active"> <a href="{% url 'blog:post_list' %}">Blog</a> </li>
	<li class="nav-item"> <a href="{% url 'blog:archive' %}">Archive</a> </li>
	<li class="nav-item"> <a href="{% url 'blog:gallery' %}">Gallery</a> </li>
	<li class="nav-item"> <a href="/about/">About</a> </li>
	{% endblock %}
	{% block content %}
		<div class="container">
			<div class="columns">
				<div class="column">
					<h1 class="title">{{ post.title }}</h1>
					<p class="subtitle">
						<small> {{post.updated}} </small>
					</p>
					{% if post.category %}
					<a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
                    {% endif %}
                    {% if post.tags %}
					{% for tag in post.tags.all %}
					<a class="tag" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
					{% endfor %}
                    {% endif %}
					<div class="content is-large">
					{{ post.body|custom_markdown }}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
