.hero {
    /*This is for the deep space gradient background*/
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

.main {
    font-family: "lato", sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
    color: #FFF;
    /*color: #FFFAAA;*/
    /*color: #1fc8db;*/
}

.archive_links {
    color: #1fc8db;
    font-size: 24px;
}

.tabs li.is-active a {
  /*border-bottom-color: #f7ff00;
  color: #f7ff00;*/
}

.large {
    font-size:30px;
}

.tabs a:hover {
  border-bottom-color: #e5e6e6;
  color: #e5e6e6;
}

#search_box, #search_input_btn {
    background-color: #f5f7fa   ;
}
